@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	font-family: 'Alexandria', sans-serif;
	box-sizing: border-box;
}

:root {
	--primary00: #000000;
	--primary08: #1a170f;
	--primary18: #3a3322;
	--primary28: #5b4f34;
	--primary38: #7b6b47;
	--primary58: #b19f77;
	--primary68: #c3b697;
	--primary78: #d6cdb8;
	--primary88: #e9e4d8;
	--primary94: #f4f2ec;
	--primary97: #f9f8f5;
	--primary100: #ffffff;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	background-color: var(--primary97);
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Typography */
.heading-1 {
	font-size: 64px;
	font-weight: 600;
	letter-spacing: 5px;
}
.heading-3 {
	font-size: 48px;
	font-weight: 600;
	letter-spacing: 2.5px;
}
.sub-heading {
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 1px;
}
.sub-heading-bold {
	font-size: 32px;
	font-weight: 800;
	letter-spacing: 1px;
}
.small-device-heading {
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 1.5px;
}
.paragraph-large {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
}
.paragraph-large-bold {
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 0.75px;
}
.paragraph-regular {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.paragraph-small {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
}
.email-text {
	font-family: 'Red Hat Mono', monospace;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0.5px;
}

#title {
	position: relative;
	top: 10%;
	left: 0%;
}

#title path:nth-child(1) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards;
}
#title path:nth-child(2) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 0.1s;
}
#title path:nth-child(3) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 0.2s;
}
#title path:nth-child(4) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 0.3s;
}
#title path:nth-child(5) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 0.4s;
}
#title path:nth-child(6) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 0.5s;
}
#title path:nth-child(7) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 0.6s;
}
#title path:nth-child(8) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 0.7s;
}
#title path:nth-child(9) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 0.8s;
}
#title path:nth-child(10) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 0.9s;
}
#title path:nth-child(11) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 1s;
}
#title path:nth-child(12) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 1.1s;
}
#title path:nth-child(13) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 1.2s;
}
#title path:nth-child(14) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 1.3s;
}
#title path:nth-child(15) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 1.4s;
}
#title path:nth-child(16) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 1.5s;
}
#title path:nth-child(17) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 1.6s;
}
#title path:nth-child(18) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-animation 1.5s ease forwards 1.7s;
}
/* Animation */
@keyframes line-animation {
	to {
		stroke-dashoffset: 0;
	}
}

/* @keyframes fill-in {
	from {
		fill: transparent;
	}
	to {
		fill: 1;
	}
} */
